 * {
 	margin: 0;
 	padding: 0;
 	box-sizing: border-box;
 }

:root {
	--bgcolor:#f6f9f8;
}
.bg-blue {
	background: #dcdbff;
}
.bg-green {
	background: #f1e5b3;
}

.text-green {
	color: green;
}
.text-red {
	color: orange;
}
.text-orange {
	color: #dcdbff;
}

.text-yellow {
	color: yellow;
}

 body {
 	font-family: 'Open Sans', sans-serif;;
 	background:var(--bgcolor);
 	font-size: 1em;
 }

 main {
 	display: flex;
 	padding: 0 5px;
 }

.logo {
	text-align: center;
	display: block;
	padding: 25px;
}

.nav-items li a {
	text-decoration: none;
	display: block;
	background: #f7f7f7;
	padding: 18px 0px 18px 45px;
	color: #979292;
	border-radius: 2px;
}
.nav-items i {
	padding-right: 15px;
}
.nav-items li a:hover {
	background: #a1a1c8;
	color: #fff;
	font-weight: bold;
}

.nav-items li {
	margin-bottom: 5px;
	box-shadow: 0px 2px 5px #ccc;
}

 aside {
 	padding: 5px;
 	padding-right: 10px;
 	position: fixed;
 	height: 100vh;
 	width: 275px;
 	box-shadow: 0px 0px 4px 5px #ededed;
 	background: var(--bgcolor);
 	z-index: 100;
 	overflow: auto ;
 }

aside::-webkit-scrollbar {
    width: 4px;
}

aside::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

aside::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

aside li:nth-child(5) {
	margin-top: 75px;
}

aside li:nth-child(8) {
	margin-top: 75px;
}

 section {
 	flex-basis: 100%;
 	padding: 15px;
 	margin-left: 275px;
 }

.sec_header {
	display: flex;
	margin-bottom: 25px;
}
.header_date {
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	-o-flex: 1;
	flex: 1;
	padding-left: 25px;
}

.header_date_info {
	font-size: 1.2em;
	font-weight: bold;
	display: inline-block;
	position: relative;
}

.header_date_info:before {
	content:'<';
	position: absolute;
	top: 5px;
    left: -18px;
    font-size: 0.6em;

}

.header_date_info:after {
	content:'>';
	position: absolute;
	top: 5px;
    right: -43px;
    font-size: 0.6em;
}

.header_date_year {
	display: inline-block;
	font-size: 0.7em;
}
.header_meta {
	font-size: 0.8em;
	
}

.meta_info {
	flex: 1;
	text-align: right;
}
.meta_info p {
	box-shadow: 0px 0px 5px #ccc;
	padding: 10px;
	display: inline-block;
}

.charts {
	display: flex;
}

.cards_chart {
	background: #f6f9f8;
	box-shadow: 0px 0px 15px #d7d7d7;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	margin-bottom: 10px;
	padding-top: 5px;
}

.cards_chart h5 {
  background: linear-gradient(59deg, white, transparent);
  font-size: 0.9em;
  padding: 5px;
  color: #a9a9a9;
}

.cards_chart p {
	font-size: 28px;
	text-align: right;
	padding-right: 10px;
	padding: 15px 10px;
	color: #a2a2c8;
}
.view_more_card {
	position: relative;
}
.view_more_card p {
	color: #6f7271;
	font-size: 0.8em;
	text-align: right;
	padding-right: 5px;
}

.view_more_card span {
	position: absolute;
	top: 15px;
	right: 75px;
	font-weight: bold;
	font-size: 0.6em;
}

.chart_list {
	list-style: none;
	display: block;
}

.chart-link {
	display: flex;
	margin-bottom: 15px;
}

.chart-link1 {
	flex-basis: 23%;
}
.chart-link2 {
	flex-basis: 75%;
}
.chart-link2 ul {
	display: flex;
	justify-content: space-evenly;
}
.chart-link2 li {
	list-style: none;
}
.chart-link2 a {
	text-decoration: none;
	color: #6f7271;
}
.chart-link2 .btn {
  background: #FFF;
  padding: 15px;
}

.chart_list li {
	position: relative;
	margin-bottom: 25px;
	margin-right: 45px;
	padding: 4px;
	border-radius: 2px;
	padding-left: 15px;
}
.chart_list li:hover {
	background: #dde0df;
}
.chart_list li:hover span {
	background: linear-gradient(45deg, #e49652, #d34109fa);
	color: #fff;
	cursor: pointer;
	border-radius: 3px;
}

.chart_list li:hover .chart-icon {
	top: 6px;
	left: -3px;
	box-shadow: none;
	position: absolute;
}

.chart-icon {
	position: absolute;
	top: 6px;
	left: -3px;
	padding: 10px;
	box-shadow:0px 3px 17px 1px #d4d4d4;
}
.chart_list li span {
	color: #9f9f9f;
	font-weight: 600;
	font-size: 0.8em;
	display: block;
	margin-left: 15px;
	padding: 10px 10px;
}

.dollar_value_chart {
	font-size: 0.7em;
	color:#a2a2c8;
	font-weight: 600;
}

.chart1 {
	flex-basis: 23%;
}

.chart2 {
	flex: 1;
	padding: 25px;
}

.chart2 img {
	width: 100%;
}

.chart3 {
	flex: 2;
	display: flex;
	padding-left: 15px;
	justify-content: space-evenly;
	align-items: flex-start;
}

.trans-items {
	display: flex;
	justify-content: center;
	margin-bottom: 15px;
}

.trans-items .actv {
	border-bottom:1px solid #ccc;
}

.trans-items li a {
	text-decoration: none;
	text-align: center;
	color: #ced2d1;
	display: block;

}

.trans-items li a:hover {
	color:#494949;
	border-bottom:1px solid #ccc;
}

.trans-items li a.actv {
	color: #494949;
}

.trans-items li  {
	list-style: none;
	padding: 15px 35px;
}

.trans_card {
	display: flex;
	box-shadow: 0px 2px 3px #ccc;
	background: #FFF;
	margin-bottom: 10px;
	padding: 10px 15px;
	border-radius: 5px;
}

.trans_card_info {
	padding: 2px 25px;
}

.tanrs_city {
	color: #a3a2a2;
}

.trans_1 {
	flex: 1;
	border-right: 2px dotted #ccc;
}


.status_card {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #c5f5a8;
	display: inline-block;
}
.card_position {
	position: absolute;
	color: #e7e7e7;
}
.status_value {
	padding-left: 25px;
}

.dollar_value {
	font-size: 0.7em;
	color: #252525;
}

.trans_2 {
	flex: 2;
}

.trans_2 p {
	font-size: 1.5em;
	font-weight: bold;
}

.trans_2 span {
	font-size: .8em;
}

.trans_3 {
	flex: 1;
}

.trans_4 {
	flex: 1;
}

.trans_5 {
	flex: 1;
}

.trans_title {
	margin-bottom: 5px;
	font-size: 0.9em;
}

.trans_date {
	font-weight: bold;
}

.trans_year {
	margin-top: -5px;
	display: block;
	font-size: 0.7em;
	margin-left: 42px;
}

.icon-trans {
	margin-top: 5px;
	display: inline-block;
	padding: 5px;
}

.view_detail {
	font-size: 0.8em;
}

.menu-link , .close-link {
	cursor:pointer;
	display: none;
}

/* mobile css */
@media (max-width: 575px) {

	.charts , .trans-items , .trans_card {
		flex-direction: column;
	}

	.nav-items li a {
		padding: 18px 0px 18px 15px;
	}

	.nav-items i {
		padding-right: 1px;
	}
 	
 	.trans-items {
		flex-wrap: wrap;
	}

	aside {
		display: none;
	}

	section {
		margin-left: 0px;
	}

	.trans_1 {
		border-right: none;
	}
	.trans_card_info {
		padding: 8px 0px;
		margin-bottom: 0px;
	}
	.status_value {
		padding-left: 0px;
	}

	.close-link , .menu-link {
		display: block;
	}

	.chart-link1 {
		display: none;
	}

	.chart-link2 {
		flex-basis: 100%;
	}

	.chart-link2 a {
		font-size: 0.9em;
	}

	.chart2 img {
		width: 50%;
	}
}

@media (min-width: 576px) and (max-width: 767.98px) { 
	
	aside {
		display: none;
	}
	
	section {
		margin-left: 0px;
	}

	.nav-items li a {
		padding: 18px 0px 18px 15px;		
	}

	.nav-items i {
		padding-right: 1px;
	}

	.trans-items {
		flex-wrap: wrap;
	}

	.trans_card {
		flex-direction: column;
	}

	.charts {
		flex-direction: column;
	}

	.trans_1 {
		border-right: none;
	}

	.trans_card_info {
		padding: 12px 10px;
		margin-bottom: 5px;
	}
	.status_value {
		padding-left: 0px;
	}

	.close-link , .menu-link {
		display: block;
	}

	.chart-link1 {
		display: none;
	}

	.chart-link2 {
		flex-basis: 100%;
	}

	.chart-link2 a {
		font-size: 0.9em;
	}

	.chart2 img {
		width: 50%;
	}
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
	
	aside {
		display: none;
	}

	section {
		margin-left: 0px;
	}

	.trans_card {
		flex-direction: column;
	}

	.nav-items li a {
		padding: 18px 0px 18px 15px;		
	}

	.nav-items i {
		padding-right: 1px;
	}

	.trans-items {
		flex-wrap: wrap;
	}

	.trans_card {
		flex-direction: column;
	}

	.charts {
		flex-direction: column;
	}

	.trans_1 {
		border-right: none;
	}

	.trans_card_info {
		padding: 12px 10px;
		margin-bottom: 5px;
	}
	.status_value {
		padding-left: 0px;
	}

	.close-link , .menu-link {
		display: block;
	}

	.chart-link1 {
		display: none;
	}

	.chart-link2 {
		flex-basis: 100%;
	}

	.chart-link2 a {
		font-size: 0.9em;
	}

	.chart2 img {
		width: 50%;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
	
	.nav-items li a {
		padding: 18px 0px 18px 15px;		
	}

	.nav-items i {
		padding-right: 1px;
	}

	.trans-items {
		flex-wrap: wrap;
	}
	
	.trans_card_info {
		padding:10px 15px;
		font-size: 0.8em;
	}
	
}

@media (min-width: 1200px) { 
	.trans-items {
		flex-wrap: wrap;
	}
	
}